.nb {
  padding: 5% 10%;
}

.container-fluid{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10%;

}


.display-4 {
    margin-bottom: 15%;
    text-align: center;
}

.nxtbtn {
    width: 100%;
    margin-top: 55px;

}

.selection{
  padding: 15px;
  border: solid 2px grey;
  border-radius: 5px;
}

.dropdowns {
  float: center;
}

@media (max-width:720px) {

  .selection{
    width: 100%;
    padding: 15px;
    border: solid 2px grey;
    border-radius: 5px;
    margin-bottom: 7%;
  }

  .card{
    margin-left: 3%;
  }

}
.copy{
  font-size: 10px;
}

/* styles for HOME */

.homemain {

  margin-top: 0.5%;
  padding: 2%;

}

.card1{
  padding-bottom:10%;
}

.card3{
  margin-top: 2%;
  padding-bottom: 5%;
}

.card-text{
  margin-top: 2%;
}

.card .btn{
  margin-left: 3%;
}

@media (max-width:720px) {


  .mg-top{
    height: auto;
  }

  .bgimg{
    height: 560px;
  }
  
  
  .card2{
    margin-top: 2%;
  }

  .homemain {

    margin-top: 0.2%;
    padding: 1%;
  
  }
  
  .card1{
    padding-bottom:5%;
  } 
  
  .card3{
    margin-top: 2%;
    padding-bottom: 5%;
  }
}

/* styles for cgpa */

.block{
  margin-top:2%;
}


/* Styles for index */

.social a {
	color: #333;
  text-decoration-style: none;
	text-decoration: none;
	margin: 15px 0;
}


.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

a{
  text-decoration: none;
}
@media (max-width:750px){

  .card{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }

}