html,body{
  margin:0 !important;
  padding:0 !important;
  box-sizing: border-box !important;;
}
.navbar{
  right: 0;
  padding: 0 5%;
  margin-right: 0;
}

select, input[type="text"]{
  width:80%;
  box-sizing:border-box;
}


.col{
margin-bottom: 5px;
}

.display-4 {
    margin-bottom: 5%;
    margin-top: 8%;
    text-align: center;
}

.nxtbtn {
  
    margin-top: 55px;
    width: 50%;
}

.selection{
  padding: 15px;
  border: solid 2px grey;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  
  select, input[type="text"]{
    width:80%;
    box-sizing:border-box;
  }
  
  .select-div{
    margin-top: 15%;
  }
  
  .col{
    margin-bottom: 5%;
  }

}



